h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom:5px;
}

a {
    decoration: none;
    color:black;
}

a:hover {
    color: skyblue;
}

li {
    font-size:150%;
}

main {
    height: calc(100vh - 205px);
    overflow: auto;
}
.main-section {
    text-align: left;
    /* color: white; */
    height: 70vw;
    width: 70vw;
    max-width: 280px;
    max-height:280px;
    min-width: 240px;
    min-height:240px;
    margin: auto;
    padding:10px;
    border-radius:5%;
    border: solid 1px black;
}

.copo-creations {
    text-align: left;
    /* color: white; */
    height: auto;
    width: 70vw;
    max-width:400px;
    margin: auto;
    padding:10px;
    border-radius:15px;
    border: solid 1px black;
}

#titlesearchbar {
    max-width: 400px;
}

.list {
    width: 70vw;
    max-width: 400px;
    margin: auto;
}

.search-bar {
    text-align:center;
    width: 70vw;
    margin: auto;
}
.poem-text {
    white-space:pre-line;
    margin-top:0;
}

.poem-space {
    text-align: center;
    margin-top:30px;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   text-align: center;
   padding-top:15px;
   padding-bottom:15px;
   height:70px;
   /* background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.9),rgba(255,255,255,1)) */
   /* background-color: rgba(255,255,255,0.75) */
}

#new_theme_row {
    display: none;
}

.ro-invisible {
    display: none;
}

#version-menu {
    display: none;
}

#version-his:hover,.version-num:hover  {
    color: skyblue;
}

.old {
    display: none;
    
}

.meta-hidden {
    display:none;
}

#modaldelete {
    height:325px;
}

#modalabout {
    width: 100vw;
    max-height:100%;
    max-width:400px;
    height: calc(100vh - 205px);
}

.modal-content ul li {
    list-style-type: circle!important;
    font-size: 1em;
}

#allow_collab_text {
    display: none;
}

header h1 {
    margin-top:0px;
}

header h4 {
    margin-bottom: 0px;
}

header {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 135px;
}

#credits {
    margin-top: 30px;
}

hr {
    width: 50%;
    max-width: 350px;
}

.formcontainer {
    max-width: 520px;
    margin:auto;
}