h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom:5px;
}

a {
    decoration: none;
    color:black;
}

a:hover {
    color: skyblue;
}

li {
    font-size:150%;
}

main {

    margin-top:15px;

}
.main-section {
    text-align: left;
    /* color: white; */
    height: 70vw;
    width: 70vw;
    max-width: 280px;
    max-height:280px;
    min-width: 240px;
    min-height:240px;
    margin: auto;
    padding:10px;
    border-radius:5%;
    border: solid 1px black;
}

.copo-creations {
    text-align: left;
    /* color: white; */
    height: auto;
    width: 70vw;
    margin: auto;
    padding:10px;
    border-radius:15px;
    border: solid 1px black;
    
    
}

.list {
    width: 70vw;
    margin: auto;
}

.search-bar {
    text-align:center;
    width: 70vw;
    margin: auto;
}

.poem-space {
    white-space: pre-line;
    text-align: center;
}

/* footer {
    text-align: center;
    padding-top: 15px;
} */

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   /* background-color: red; */
   text-align: center;
   padding-top:15px;
   padding-bottom:15px;
   background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.9),rgba(255,255,255,1))
   /* background-color: rgba(255,255,255,0.75) */
}

#new_theme_row {
    display: none;
}
