h1, h2, h3, h4, h5, h6 {
    text-align: center;
    margin-bottom:5px;
}

a {
    decoration: none;
    color:black;
}

a:hover {
    color: skyblue;
}

li {
    font-size:150%;
}

main {
    min-height:calc(100vh - 250px);
    margin-top:30px;

}
.main-section {
    text-align: left;
    /* color: white; */
    height: 70vw;
    width: 70vw;
    max-width: 280px;
    max-height:280px;
    min-width: 240px;
    min-height:240px;
    margin: auto;
    padding:10px;
    border-radius:5%;
    border: solid 1px black;
}

.copo-creations {
    text-align: left;
    /* color: white; */
    height: auto;
    width: 70vw;
    margin: auto;
    padding:10px;
    border-radius:0%;
    border: solid 1px black;
}

.list {
    width: 70vw;
    margin: auto;
}

.search-bar {
    text-align:center;
    width: 70vw;
    margin: auto;
}

.poem-space {
    white-space: pre-line;
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 15px;
}

.vis {
    display: none;
}