{% extends 'base.html' %}
{% block content %}
<h4>CoPo Creations</h4>
</div>
</header>
<main>
	<div class="container">
		<div class="container">
			<div class="row">
				<div class="search-bar">
					<form>
						<div class="input-field">
							<input id="search" type="search" placeholder='Search authors...' required>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</div>


			<h6>Or browse by:</h6>
			<div class="row">
				<div class="copo-creations">
					<h5>Themes</h5>
				</div>
			</div>
			<div class="row">
				<div class="copo-creations">
					<h5>Authors</h5>
				</div>
			</div>
			<div class="row">
				<div class="copo-creations">
					<h5>Titles</h5>
				</div>
			</div>
			<div class="row">
				<div class="copo-creations">
					<h5>Rating</h5>
				</div>
			</div>
			<h6>Or:</h6>
			<div class="row">
				<div class="copo-creations">
					<h5>CREATE!</h5>
				</div>
			</div>
		</div>
		{% endblock %}