{% extends 'base.html' %} 
{% block content %}
                <h4>It's about the words.</h4>
            </div>
        </header>
        <main>
            <div class = "container">
<div class="container">
    <div class="row">
        <a href="{{ url_for('creations') }}">
            <div class="main-section">
                <h5>CoPo Creations</h5>
                <p>In this section you can browse through all the different poetry that individuals and 
                    collaborators have produced using the CoPo web application. Be inspired by others like 
                    yourself and when you're ready collaborate on a poem or create your own!</p>
            </div>
        </a>
    </div>
    <div class="row">
        <div class="main-section">
         <h5>Published Poetry</h5>
            <p>In this section you can browse through all the different puplished poetry that individuals and 
                collaborators have curated using the CoPo web application. Be inspired by the greats to see what makes a good poem. 
                Add your own sources of inspiration to this library!</p>
        </div>
    </div>
</div>
  

{% endblock %}