{% extends 'base.html' %} 
{% block content %}
         <a href="{{ url_for('creations') }}">
                <h4>CoPo Creations</h4>
                </a>

        </header>
  
        <main>
        <div class="buffer"></div>
            <div class = "container">            
            <div class="poem-space">
                <h5>{{ poem.title}}</h5>

                {% for i in poem.Version %}

                {% if i[3] == true %}
                <p class="poem-text" id="poem-ver-{{i[0]}}"><em>
                {{i[1].get("Poem")}}
                </em></p>
                {% else %}
                <p class="poem-text old" id="poem-ver-{{i[0]}}"><em>
                {{i[1].get("Poem")}}
                </em></p>
                {% endif %}

                {% endfor %}

                <div id="credits">
                    <hr>
                    <p><span class="credit"><strong>Author</strong>: <a href="{{ url_for('creations_author', authoruser=poem.Author )}}">{{ poem.Author }}</a></span></p>
                    
                    {% if poem.edit_YN == "Y" %}
                    <span class="credit">
                       {% for i in poem.Version %}
                       {% if i[3] == true %}
                    <span class="collab" id="collab-ver-{{ i[0] }}"><p><strong>Collaborators</strong>:{% for a in i[2]["Collaborators"] %} <a class="collab-name" id="collab-id-{{ i[0] }}{{ loop.index }}" href="{{ url_for('creations_author', authoruser= a['authorname'] )}}">{{ a["authorname"] }}</a><span class = "comma">, </span>{% endfor %}</p></span>
                        {% else %}
                    <span class="collab old" id="collab-ver-{{ i[0] }}"><p><strong>Collaborators</strong>:{% for a in i[2]["Collaborators"] %} <a class="collab-name" id="collab-id-{{ i[0] }}{{ loop.index }}" href="{{ url_for('creations_author', authoruser= a['authorname'] )}}">{{ a["authorname"] }}</a><span class = "comma">, </span>{% endfor %}</p></span>
                        {% endif %}
                        {% endfor %}
       
                        </span>
          
                    <span class="credit">
                    <p><strong id="version-his">Version</strong>: <span id="current-ver">{% for i in poem.Version %}{% if i[3] == true %}{{ i[0] }}{% endif %}{% endfor %}</span></p>
                    <span id="version-menu"><p>Version History: {% for i in poem.Version %}<span id="version-{{ i[0] }}" class="version-num">{{ i[0] }}</span>    {% endfor %}</p></span>
                    </span>
              {% endif %}
                </div>
            
            

            </div>

            <div class="action-buttons">
            {% if poem.edit_YN == "Y" %}
            <div class="row">
                        <a href="{{ url_for('collaborate', poemId=poem._id ) }}">
                            <div class="copo-creations">
                                <h5>       Collaborate<img src="../static/images/feathercross1.png" id="feathercollaborate" /></h5>
                            </div>
                        </a>
                </div>    
            {% endif %}
                <div class="row">
                        <a class="modal-trigger" id="tomodal" href="#modaldelete">
                            <div class="copo-creations">
                                <h5>Delete<img src="../static/images/deleteburn.png" id="deleteburn" /></h5>
                            </div>
                        </a>
                </div>                    
            </div>
            
        </div>

<span class ="meta-hidden" id="poempage">poem.html</span>
<!-- <span class ="meta-hidden" id="poem_id">{{ poem._id }}</span>
<span class ="meta-hidden" id="poem_username">{{ poem.username }}</span> -->

  <!-- Modal Structure -->
  <div id="modaldelete" class="modal">
    <div class="modal-content">
      <h4>Delete Poem?</h4>
      <p>Only the original author of the poem can delete this poem.</p>
      <form class="col s12" id="deletepoem"> 
      <!-- action="{{ url_for('delete') }}" method="POST" -->
            <div class="input-field">
                <input id="usernamedelete" type="text" class="validate" name="username" placeholder="Enter username" required>
            </div>
            <div class="input-field col s12">
                <input id="passworddelete" name="password" type="password" class="validate" required placeholder="Enter Password">
                <!-- <label for="passworddelete">Enter Password</label> -->
            </div>
            <button id="delete-submit" class="btn waves-effect waves-light right disabled" type="submit">Delete
                                <i class="material-icons right">delete_sweep</i>
            </button>
      </form>
    </div>
  </div>

<script>
masterUser = '{{ poem.username }}'
thispoemid = '{{ poem._id }}'
</script>



{% endblock %}