{% extends 'base.html' %} 
{% block content %}
         <a href="{{ url_for('creations') }}">
                <h4>CoPo Creations</h4>
                </a>
        </header>
        <hr>
        <main>
            <div class = "container">            
            <div class="poem-space">
                <h5>{{ poem.title}}</h5>
                <p><em>
                {{poem.Poem}}
                </em></p>
                <div id="credits">
                    <p><strong>Author</strong>: <a href="">{{ poem.Author }}</a>
                    
                    <strong>Collaborators</strong>:{% for i in poem.Collaborators %} <a href="">{{ i[0].get("authorname") }}</a>, {% endfor %}
                    
                    <strong>Version</strong>: {% for i in poem.Version %}{% if i[3] == true %}{{ i[0] }}{% endif %}{% endfor %}</p>
                </div>
            </div>
                <div class="row">
                        <a href="{{ url_for('collaborate', poemId=poem._id ) }}">
                            <div class="copo-creations">
                                <h5>Collaborate!</h5>
                            </div>
                        </a>
                </div>    
                <div class="row">
                        <a href="{{ url_for('create') }}">
                            <div class="copo-creations">
                                <h5>Delete</h5>
                            </div>
                        </a>
                </div>                    
            </div>



{% endblock %}